
.subMenu {
    height: 100vh;
    background-color: $side-second-bg;
    &__list {
        display: flex;
        align-items: center;
        padding: space(2) space(4);
        margin: space(2);
        margin-right: 0px;
        border-top-right-radius: 0px!important;
        border-bottom-right-radius: 0px!important;
        color: $grey-level3;
        border-radius: $br4;
        cursor: pointer;
        transition: all .3s ease-in-out;


        &:hover {
            background-color: $primary-color-light2-ie;
            background-color: $primary-color-light2;
        }
        
        &--disabled {
            color: $grey-level2;
            &:hover {
                background-color: inherit;
            }
        }

        &--activate {
            background-color: $primary-color-light2-ie;
            background-color: $primary-color-light2;
            color: $primary-color-ie;
            color: $primary-color;
        }
        
    }
}
