.guideProfile {
    text-align: center;
    &__bg {
        
        background-color: $grey-level4;
        position: relative;
        height: space(50);
        display: flex;
    
    }

    &__bgimg{
        width: 25% ;
        height: auto ;
    }

   
    &__introduceBox{
        width: 75%;
        // background-color: rgba(255,0,0,0.1);
        transform: translateY(3%);
        margin:auto;
    }

    &__secter1{
        display: flex;
        border: 1px solid rgb(213, 206, 206);
        margin-bottom: 2rem;
    }

    &__secter2{
        margin-top:3rem;
        margin-right: 3rem;
        text-align:left;
        position: relative;
    }

    &__horizon{
    height: 1px;
    width: 100%;
    background-color: $grey-level1;
    }

    &__profile {     
        display:flex;
        // margin-bottom: -2.8rem!important;
        margin-left: 3rem;
        margin-right: 3rem;
        position: relative;    
    }

    &__avatarContainer{
        height: 240px;
        border-bottom: 1px solid #d5cece;;
    }

    &__avatar{
        box-sizing: border-box;
        border-radius: 50%;
        height:9rem ;
        width:9rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    // &__infoarea{
    //     margin-right: 8px;  
    //     display: flex;

    // }

    &__earthIcon{
        font-size: 20px;
        line-height: 2px;
        margin-right: 3px;
    }

    &__canLanguageContainer {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__canLanguage{
        margin-right: 1rem;
        display: flex;
        align-items: center;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 13px;
    }

    &__infolangs{
        display: flex;
        flex-direction: column;

    }

    &__infolang{
        border: 1px solid #d5cece;
        font-weight: 600;
        font-size: 15px;
        width: 80px;
        margin: 3px 0px;
        padding: 3px 2px;
        text-align: center;
        border-radius: 4px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    &__subtitle{
    margin-top: 1rem;
    margin-bottom : 1rem;
    font-weight: bold;   
    text-decoration:underline #EF4545;
    
    }

    &__text {
        align-items: center;
        width: 100%;
        word-break: keep-all;
    }


    &__viewTours {
        font-size: 30px;
        margin-bottom: 2rem;

    }

    &__video {
        object-fit: contain;
        width: 60%;
        max-height: 550px;
        background-color: black;
        margin: 0 auto;
        outline: none;
        margin-bottom: 3rem;
    }

    

    



}