@media screen and (max-width:415px) {

    
    .locationalGuide__sliderContainer {
        width: 100% !important;
    }

    .locationalGuide__regionSliderContainer {
        width: 100% !important;
    }

    .locationalGuide__regionSliderContentArea {
        
        display: flex !important;
    }

    .regionTopImage__title {
        font-size: 40px !important;
    }

    .regionTopImage__desc {
        display: none !important;
    }

    .locationalGuide__regionSelectButton {
        margin-right: 20px !important;
    }

    .regionGuides__bodyContainer {
        width: 100% !important;
    }

    .regionGuides__bodyRightSection {
        display: none !important;
    }

    .regionGuides__infoWrapper {
        flex-direction: column !important;
    }

    .locationalGuide__regionSelectorSectorContainer {
        padding: 0px 10px !important;
    }

    .locationalGuide__regionArea {
        width: 100% !important;
    }

    .regionTopImage__titleAndDescContainer {
        padding: 0px !important
    }

}

.locationalGuide {

    width: 100%;

    &__regionArea {
        position: relative;
        .container  {
            padding-bottom: 0px!important;

        }

        &-bg {
            opacity: 0.3;
        }

        &-on {
            position: relative;
            z-index: 1;
        }

    }

    &__region {
        margin-top: 6rem;
        @include response($tablet) {
            flex-direction: column;
        }
    }

    &__regionSecotr {
        margin-top: -7rem;
        @include response($tablet) {
            margin-top:0;
        }
        text-shadow: 1px 1px 1px #000;;
        
    }
    
    &__mapWrapper {
        flex: 0;
    }

    &__mapWrapper {
        @include response($tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        transform: scale(.8);
    }

    &__sliderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
    }


    &__regionSelectorSectorContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        max-width: 87.75rem;
        margin: 0 auto;
        padding: 0 2.4rem;
        bottom: 5rem;
    }

    &__regionSelectButtonContainer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        padding: 5px 0px;
        position: absolute;
        place-items: center;
        overflow: hidden;
    }

    &__regionSelectButton {
        position: relative;
        cursor: pointer;
        width: 200px;
        height: 9rem;
        overflow: hidden;
        border-radius: 10px;
        color: white;
        text-shadow: 1px 1px 1px #000;
        font-weight: 600;
        font-size: 20px;
        box-sizing: border-box;
        padding: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }

    &__regionSelectButtonBg{
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        vertical-align: middle;
        z-index: -1;
        
    }


    &__regionSliderContainer {
        position: relative;
        display: flex;
        overflow-x: hidden;
        height: 10rem;
        width: 87.75rem; 
    }
    
    &__regionSliderContentArea {
        width: max-content;
    }


    // Arrow

    &__sliderLeftArrowContainer {
        width: 16.875rem;
        background-color: white;
        position: absolute;
        left: -1.5rem;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        bottom: 50%;
    }

    &__sliderRightArrowContainer {
        width: 16.875rem;
        background-color: white;
        position: absolute;
        right: -1.5rem;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        bottom: 50%;

    }
    
    &__sliderLeftArrow {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        background-color: white;
        border-radius: 100%;
        left: 1rem;
        border: 1px solid #0000001f;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    }

    &__sliderRightArrow {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        background-color: white;
        border-radius: 100%;
        right: 1rem;
        border: 1px solid #0000001f;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
}



.regionTopImage {
    &__container {
        position: relative;
        height: 40vh;
        width: 100%;
    }

    &__titleAndDescContainer {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding : 0px 20rem;
        width: 100%;
        height: 100%;
        color: black;
        background-position: center;
        background-size: cover;
        color: white;
        text-shadow: 1px 1px 1px #000;
        font-weight: 600;
    }

    &__title {
        font-weight: 600;
        font-size: 3rem;
    }

    &__desc {
        font-size: 0.95rem;
    }
}

.regionGuides {
    &__guidesContainer {
        margin: 0 auto;
        max-width: 87.75rem;
        padding: 0 1rem;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        min-height: 90%;
    }

    &__container {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    
    &__header--title{
        font-weight: 600;
        font-size: 2.25rem;
        color: black;
    }

    &__header--seeMore {
        cursor: pointer;
    }

    &__bodyContainer{
        display:flex;
    }

    &__bodyRightSection{
        width: 100%;
        margin-top: 1.875rem;
        margin-left: 1.875rem;
    }

    &__popularGuides {
        background-color: #f6f1ed;
        width: 100%;
        max-width: 50rem;
        height: auto;
        margin-right: 1.875rem;
        box-sizing: border-box;
        padding: 1.25rem;
        border-color: #d9d9d9;
        border-radius: 15px;
        border-width: 1.5px;
        border-style: solid;
    }

    &__popularGuide--container {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__popularGuide--profileImage{
        width: 6.25rem;
        height: 6.25rem;
        margin-right: 0.625rem;
        background-size: cover;
        background-position: center;
        cursor:pointer;

    }
    
    &__popularGuide--guideInfo{
        display: flex;
        flex-direction: column;
        width: 75%;
        position: relative;

    }

    &__popularGuide--guideName {
        font-weight: 500;
        margin-bottom: 0.313rem;

    }

    &__popularGuide--guideDesc {
        font-size: 0.938rem;
    }

    &__popularGuide--TalkIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -0.438rem;
        border-radius: 100%;
        right: 0.625rem;
        padding: 0.313rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: wheat;
        }
    }
}