.BookingViweDetail {
    &__guideInfo {
        text-align: center;
        padding: space(4);
        background-color: $primary-color-light2-ie;
        background-color: $primary-color-light2;
    }
}

