@mixin mixin_bgImg {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: inherit;
}

.ani_downtop {
    opacity: 0;
    animation: ani_downtop 1000ms 300ms ease-in-out forwards;
}

.sns {
    &__Container {
        width: 100%;
        height: 35.25rem;
        margin-top: 9.375rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 9.375rem;
    }

    &__Title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__LogoAndTextBox {
        display: flex;
        align-items: center;
    }

    &__TitleText {
        margin-left: 10px;
        font-weight: 600;
    }

    &__image {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }

    &__subButton {
        background-color: red;
        color: white;
        font-weight: 600;
        padding: 5px 20px;
        border-radius: 10px;
    }

    &__followButton {
        background-color: #1877f2;
        color: white;
        font-weight: 600;
        padding: 5px 20px;
        border-radius: 10px;
    }
}

.findGuide {
    &__Container {
        width: 100%;
        display: flex;
        margin-top: 9.375rem;
    }

    &__title {
        font-weight: 600;
    }

    &__imageSliderContainer {
        width: 60%;
        height: 31.25rem;
    }

    &__textContainer {
        width: 40%;
        padding: 3.125rem 2.5rem;
        background-color: black;
        color: white;
    }

    &__button {
        all: unset;
        background-color: #d0242b;
        border-radius: 0.625rem;
        padding: 0.625rem;
        font-weight: 600;
        cursor: pointer;
        margin-top: 1rem;
    }
}


.aboutUs {
    &__Container {
        position: relative;
        width: 100%;
        height: 90vh;
        margin-top: 9.375rem;
    }

    &__top {
        color: black;
    }

    &__bottomContainer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        width: 100%;
        height: 50vh;
        bottom: 0;
        background-color: #d0242b;
    }

    &__bottomLeft {
        display: flex;
        align-items: center;
        width: 34.375rem;
        height: 100%;
        margin-right: 1.875rem;
    }

    &__bottomRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 34.375rem;
        height: 100%;
        position: relative;
    }

    &__imageContainer {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 6.25rem;
        z-index: 10;
    }

    &__imageFirst {
        width: 34.375rem;
        height: 25rem;
        margin-right: 1.875rem;
        background-size: cover;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__imageSecond {
        position: relative;
        width: 34.375rem;
        height: 25rem;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__imageTextBox {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 1.875rem;
        color: white;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__imageTextTop {
        margin-bottom: 0.625rem;
        font-size: 1.25rem;
        font-weight: 500;
        text-shadow: 2px 2px 2px gray;
    }

    &__imageTextBottom {
        font-weight: 600;
        font-size: 1.563rem;
        margin-bottom: 0.625rem;
        text-shadow: 2px 2px 2px gray;
    }

    &__bottomLeftTop {
        display: flex;
        align-items: center;
        margin-bottom: 4.063rem;
    }

    &__bottomLeftBottom {
        display: flex;
        align-items: center;
    }

    &__bottomLeftText {
        color: white;
        font-weight: 600;
    }

    &__bottomRightTop {
        color: white;
        font-weight: 600;
        font-size: 1.563rem;
        margin-bottom: 1.563rem;
    }

    &__bottomRightBottom {
        color: white;
        font-weight: 600;
        font-size: 1rem;
    }

    &__whiteLine {
        background-color: white;
        position: absolute;
        left: 0;
        bottom: 15.625rem;
        width: 51.5rem;
        height: 0.635rem;
    }
}

.region {
    &__RegionSliderItemTitle {
        font-weight: 600;
        color: white;
        text-shadow: 2px 2px 2px gray;
    }

    &__RegionDetailButton {
        all: unset;
        text-align: center;
        color: black;
        font-weight: 500;
        width: 40%;
        background-color: white;
        border-radius: 5px;
        padding: 10px 0px;
    }

    &__bgImage {
        border-radius: 10px;
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        left: 0;
        vertical-align: middle;
    }

    &__contents {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        z-index: 10;
        justify-content: space-between;
        padding: 25px 15px;

    }


}

.slider {

    // Short
    &__ShortSliderEmptyBox {
        width: 16.875rem;
        height: 19.875rem;
        background-color: white;
    }

    &__ShortSliderLeftArrow {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        background-color: white;
        border-radius: 100%;
        right: -1.875rem;
        border: 1px solid #0000001f;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }


    &__ShortSliderRightArrow {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        background-color: white;
        border-radius: 100%;
        left: -1.875rem;
        border: 1px solid #0000001f;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }



    &__ShortSliderLeftArrowContainer {
        width: 16.875rem;
        background-color: white;
        position: absolute;
        z-index: 10;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        bottom: 50%;
    }

    &__ShortSliderRightArrowContainer {
        width: 16.875rem;
        background-color: white;
        z-index: 10;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        bottom: 50%;
    }

    &__ShortSliderItems {
        display: flex;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        width: 16.875rem;
        height: 19.875rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        overflow: hidden;

        img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            transition: transform 2s linear;
        }

        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }

    &__ShortSliderRow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 13px;
        width: 100%;
        position: absolute;
        place-items: center;
        overflow-x: hidden;
    }

    &__ShortSliderContainer {
        position: relative;
        display: flex;
        overflow-x: hidden;
        height: 19.875rem;
    }

    &__ShortSliderContentAeea {
        width: max-content;
    }

    // Guide {
    &__RecommendGuideContainer {
        width: 100%;
    }

    &__RecommendGuideSectionTitle {
        text-align: center;
        font-weight: 600;
    }

    &__GuideSliderItemImage {
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 16.875rem;
        height: 16rem;
    }

    &__GuideBadgeAndNameContainer {
        margin: 15px 0px;
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }

    &__GuideDesc {
        padding: 0px 10px;
        font-size: 14px;
    }

    &__GuideCategoryContainer {
        box-sizing: border-box;
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
    }

    &__GuideCategoryText {
        font-size: 13px;
        font-weight: 600;
        margin-right: 5px;
        color: black;
    }

    &__GuideBadge {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d0242b;
        color: white;
        font-weight: 600;
        padding: 3px 15px;
        border-radius: 20px;
        margin-right: 10px;
        font-size: 0.8rem;
    }

    &__GuideName {
        font-weight: 600;
    }


    // Tour

    &__TourSliderItemImage {
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 16.875rem;
        height: 16rem;
    }

    &__TourSliderItemTitle {
        margin-top: 0.625rem;
        font-weight: 600;
        color: #d0242b;
        text-align: center;
    }


    &__TourSliderItemTextAndDesc {
        position: relative;
        padding: 0 15px;
        overflow-y: hidden;
        height: 30.875rem;
    }

    &__TourSliderItemPriceAndBooking {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }

    &__TourSliderItemPrice {
        font-weight: 600;
    }

    &__TourSliderItemBookingButton {
        all: unset;
        background-color: #d0242b;
        cursor: point;
        color: white;
        padding: 10px 15px;
        border-radius: 10px;
    }

    // Long

    &__LongSliderEmptyBox {
        width: 16.875rem;
        height: 35.875rem;
        background-color: white;
    }

    &__LongSliderLeftArrow {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        background-color: white;
        border-radius: 100%;
        right: -1.875rem;
        border: 1px solid #0000001f;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }


    &__LongSliderRightArrow {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        background-color: white;
        border-radius: 100%;
        left: -1.875rem;
        border: 1px solid #0000001f;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }



    &__LongSliderLeftArrowContainer {
        width: 16.875rem;
        height: 35.875rem;
        background-color: white;
        position: absolute;
        z-index: 10;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__LongSliderRightArrowContainer {
        width: 16.875rem;
        height: 35.875rem;
        background-color: white;
        position: absolute;
        z-index: 10;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__LongSliderItems {
        box-sizing: border-box;
        position: relative;
        width: 16.875rem;
        height: 31.875rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    &__LongSliderRow {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 13px;
        width: 100%;
        position: absolute;
        place-items: center;
        overflow: hidden;
        padding-bottom: 5px;

    }

    &__LongSliderContainer {
        position: relative;
        display: flex;
    }



}

.tour {

    &__sectionTitle {
        text-align: center;
        margin-top: 5rem;
        font-weight: 600;
    }

    &__searchIconPath {
        transition: all 0.3s linear;

        &::hover {
            fill: #3a3a3a;
        }
    }

    &__TextsliderContainer {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 40px;
    }

    &__sliderText {
        font-size: 40px;
        font-weight: 600;
        color: white;
        border-bottom: 3px solid #D0242B;

    }

    &__searchBar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__searchBarInnerBox {
        display: flex;
        align-items: center;
    }

    &__searchIcon {
        margin: 0px 25px;
        z-index: 20;
        position: absolute;
        right: 29%;
        cursor: pointer;
    }

    &__searchInput {
        height: 60px;
        width: 42vw;
        padding: 0 1.2rem;
        background-color: white;

        @include response(1000px) {
            width: 200px;
        }

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: $grey-level4  !important;
            font-size: $typho-normal;
        }

        &:focus {
            color: $primary-color  !important;

            &+.JDinput-iconWrap {
                svg.JDicon {
                    color: $primary-color  !important;
                }
            }


        }

        &+.JDinput-iconWrap .JDicon {
            color: $grey-level4  !important;

            path,
            line {
                stroke-width: 3px !important;
            }
        }
    }

    &__container {
        position: relative;
        height: 80vh;
    }

    &__bgimage {
        position: absolute;
        background-size: contain;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include mixin_bgImg;
        background-position: 50% 80%;
    }

    &__filter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.35);
    }

    &__titlewrap {
        text-align: center;
        position: relative;
        color: #ffffff;
        word-break: keep-all;
        top: -1rem;
    }

    &__title {
        font-size: 4rem;
        font-family: "dogdo";
        font-display: swap;
        margin-bottom: -0.5rem;
        margin-top: -4rem;
        text-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
    }

    &__subtitle {
        margin-top: 30px;
        font-size: 1rem;
        line-height: 1.6;
        text-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
    }

    &__introwrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 10vh auto 0 auto;
        width: 100%;
        max-width: 90%;
        overflow-x: auto;
    }


    &__icon {
        min-width: 40px;
        padding-right: 8px;
    }

    &__introblock {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0 20px;
        padding: 15px 0px 15px 0px;
        width: 43vw;
        color: #ffffff;
        height: auto;
        text-align: center;
        background: $color_introblock;

        &:nth-of-type(1) {
            margin: 0;
        }

        &.on {
            background: $color_introblock_active;
        }
    }

    &__introtitle {
        font-size: 1.05rem;
        font-weight: 700;
    }

    &__introarrow {
        margin-top: 10px;

        svg {
            width: 1rem;
            height: 1rem;
        }

        path {
            stroke: #ffffff;
        }
    }


}

@media screen and (min-width:768px) {

    .tour {

        &__container {
            box-sizing: border-box;
            padding-top: 30vh;
        }

        &__title {
            font-size: 5rem;
            margin-bottom: -0.75rem;
        }

        &__subtitle {
            font-size: 1.5rem;
        }

        &__introblock {}

        &__introtitle {
            font-size: 1.25rem;
        }

    }

}

@media screen and (min-width:1024px) {

    .tour {

        &__container {
            padding-top: 25vh;
        }

        &__introwrap {
            max-width: 90%;
        }


        &__introblock {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 0 0 30px;
            padding: 30px 20px;
            width: 29vw;
            transition: background 300ms;

            &:hover {
                background: white;
                color: $primary-color;

                .tour__icon {
                    filter: brightness(0);
                }
            }

            &:nth-of-type(1) {
                margin: 0;
            }
        }

        &__introtitle {
            font-size: 1.125rem;
        }

    }

}


@media screen and (min-width:1300px) {

    .tour {

        &__introwrap {
            max-width: 1300px;
            margin: 14vh auto 0 auto;
        }

        &__introblock {
            width: 190px;
        }

        &__introarrow {
            margin-top: 0;

            svg {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

    }

}


@media screen and (min-width:1680px) {

    .tour {

        &__introwrap {
            max-width: 1400px;
        }

        &__title {
            font-size: 6rem;
            margin-bottom: -1rem;
        }

        &__subtitle {
            font-size: 1.7rem;
        }

        &__introblock {
            width: 200px;
        }

        &__introtitle {
            font-size: 1.3rem;
        }

    }

}


@keyframes ani_downtop {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}