.bookHeader {
    @extend %z-depth-1;
   

    &__menu {
        margin-left: 15px;
        width: 30px;
        height: 30px;
        path {
            stroke: white;
            stroke-width: 2;
        }
        cursor: pointer;
    }

    &__split {
        color: $grey-level1;
    }
    
    &__logo {
        width: 55px!important;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        margin: 0px 100px;
    }
    
    &__pcHeader {
        @include response($mobile) {
            display: none!important;
        }
        @include response($tablet) {
            display: none!important;
        }
    }

    &__mobileHeader {
        padding-top: space(3);
        padding-left: 10px;
        padding-right: 10px;
        display: none!important;
        @include response($tablet) {
            display: block!important;
        }
    }

    
    &__bottom {
        padding-left: 0px;
        padding-top: 0px;
        border-bottom: $html-color;
    }

    &__bottomBtn {
        cursor: pointer;
        padding: space(1.5);
        padding-bottom: space(1.5);
        border-bottom: 3px solid white;
        transition: border-bottom 1s;

        &:hover {
            border-bottom: 3px solid $primary-color;
        }
    }

    &__searchInput {
        height: 2.5rem;
        width: 70vw;
        padding: 0 1.2rem;
        background-color: white;
        @include response(1000px) {
            width: 200px;
        }

        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: $grey-level4!important;
            font-size: $typho-normal;
        }
        
        &:focus {
            color: $primary-color!important;
            & + .JDinput-iconWrap {
                    svg.JDicon {
                        color: $primary-color!important;
                    }
                }
                
            
        }
        & + .JDinput-iconWrap .JDicon  {
            color: $grey-level4!important;
            path,line {
                stroke-width:3px!important;
            }
        }
    }

    &__btn {
        margin-left: space(1)!important;
        padding-left: space(2)!important;
        padding-right: space(2)!important;
        font-weight: 600!important;
        font-size: 1rem!important;
        color: $grey-level4;
    }
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    box-sizing: border-box;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    display: flex;
}

.logoTextContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
}

.logoText{
    &__top {
        color: black;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

    &__bottom{
        color: black;
        font-weight: 600;
        font-size: 22px;
        cursor: pointer;
    }
}

.citySelector {
    &__dropDownContainer {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__dropDown {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 165px;
        height: 45px;
        background-color: #d0242b;
        color: white;
        border-radius: 7px;
        margin-right: 10px;
        cursor: pointer;
    }
    &__textBox {
        display: flex;
        width: 70%;
        justify-content: space-between;
    }
}