.bookfooter {
    border-top: 1px solid $outborder-color;

    &__clear {
        text-transform: none;
    }
}

.footer {
    &__innerContainer {
        display: flex;
    }

    &__citiesTitle {
        color: #8d8d89;
    }

    &__city {
        display: flex;
    }

    &__cityPartOne, 
    &__cityPartTwo {
        display: flex;
        flex-direction: column;
    }

    &__cityPartOne {
        margin-right: 300px;
    }

    &__cityText {
        color: white;
        margin-bottom: 0.938rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.188rem;
        }
    }

    &__info {
        margin-top: 80px;
    }

    &__infoDetail {
        color: white;
    }

}