.avatar {
    border-radius: 50%;
    background-size: 100%;
    position: relative;
    outline: none;
    border: 1px solid $grey-level1;
    background-color: white;
    min-width: 1.8em;

    @include iconSize--prefixer(1);  
}

