.bookHeaderMobile {
    &__logo {
        width: auto!important;
        height: 30px!important;
    }

    &__center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);    
    }
}
