.DayPickerModal {
  background-color: transparent;
  overflow: hidden;
  overflow: hidden !important;

  &__head {
    padding: space(1) space(3);
    background-color: white;

    .JDbtn {}
  }


  .DayPicker {
    border: none !important;
  }

  .DayPicker-box {
    width: 100%;
  }

}