
.detailNavCard{
    &__badges {
        justify-content: flex-start!important;
        font-size: $typho-tiny;
    }
    &__introduce{
        width: 200px;
        font-size: 0.8em;
        background: #FFF0F0;
        padding: 10px 9px 10px 17px;
        border-radius: 18px;
        margin-top: 1vh;
    }

    &__introduce2{
        font-size: 0.6em;
        margin-top: 0.5vh;
        margin-bottom: 1vh;
        
    }
    
    &__logoComponent{
        display: flex;
        justify-content: center;
        
    }
    
    &__img{
        margin-left: -3vh;
        width: 60px;
        height: 50px;
    }
    
    &__logobox{
        align-self: center;
        margin-left: 2vh;    
        font-size: 1.3em;
        font-weight: bold;   
    }
    
    &__jdButtonWidth{
        width:80px;
    }

    &__jdButtonWidth2{
        font-size: 16px;
        color:white;
        width:140px;
        height: 38px;
        margin-top: 0.1px;
        background-color: #E5797E;
        border-width: 0px;
    }

    &__jdButtonWidth3{
        font-size: 18px;
        color:white;
        border-width: 0px;
        background-color: #D0242B;
        margin-bottom: -1px;
        border-radius: 0px;
        height:40px
    }
    
    &__InfoboxWidth{
        width: 31vh;
    }
    
    &__jdCard{
        margin-bottom: 2vh;
        margin-top: 2vh;
        width: 29vh;
    }
    
}


