.JDDotButton {
    width: 100%;
    border: $dottedBtn-border;
    color: $grey-level2;
    padding: space(2);
    background-color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;


    &--disabled {
        background-color: $grey-level1;
        pointer-events: none;
    }

    &:hover {
        color: $grey-level3;
        background-color: $grey-level1;

        .iconWrapper {
            color: $grey-level3;
        }
    }
}