.languageDropBox {
    
    &__lang {
        padding: space(1) space(2);
        white-space: nowrap;
    }
}

.languageSelecter {
    margin-left: space(1);
    font-weight: 600 !important;
    font-size: 1 !important;
    color: #595959;
}

.citySelecter {
    display: flex;
    justify-content: center;
    width: 165px;
    height: 45px;
    margin-left: space(1);
    font-weight: 600 !important;
    font-size: 1 !important;
    color: white;
    background-color: #D0242B;
    border-radius: 5px;
}


