
.productViewsLineHeader {
    position: relative;
    .productViewsLineHeader__seeMore {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.regionGuideButton{
    border-radius: 30px;
    background-color: "red";
    border-width:0px;
    width: 100px;
    height: 35px;
}