
.productViewsLineHeader {
    position: relative;
    .productViewsLineHeader__seeMore {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.regionGuideButton{
    border-radius: 30px;
    background-color: #f16b72;
    border-width:0px;
    width: 150px;
    height: 35px;
    color:white;
    font-size: 20px;
    font-weight: 500;

}