
.productViewsLineHeader {
    position: relative;
    .productViewsLineHeader__seeMore {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.regionGuideButton{
    border-radius: 30px;
    background-color: #D0242B;
    border-width:0px;
    width: 155px;
    height: 38px;
    color:white;
    font-size: 18px;
    font-weight: 500;

}