@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.rating-stars {
    line-height: 100%;
    display: inline-blocks;

    .rating-stars {
        font-size: $typho-tiny;
    }
}