

.JDtimer {
    display:inline-block;
    padding: $badge-padding;
    border-radius: $standard-border-radius;
    border: 1px solid $outborder-color;
    margin-bottom: $standard-small-space;
 
    &__minute {
        margin-right: $standard-tiny-space;
    }
    &__second {
    }
}