@media screen and (max-width:767px) {
    .guideCardWrapper {
        width: 100% !important;
    }

    .infoDiv {
        width: auto !important;
        padding: 0px 10px !important;
    }

    .infoDiv__guideNickName {
        text-align: center !important;
    }

    .regionGuides__avatar {
        width: 100% !important;
        align-items: center !important;
    }

    .regionGuides__avater--button {
        margin-left: 0px !important;
    }
}

.userProfileCard {
    flex: 0;
    background-color: white;
    max-width: 16rem;
    min-width: 14rem;
    border-radius: $br2;
    overflow: hidden;
    border: 1px solid $outborder-color;
    position: relative;
    text-align: center;

    &__bgImg {
        background-color: $grey-level4;
    }
    &__profileZone {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }   
}

.guideCardWrapper{
    box-sizing: border-box;
    margin-top: 30px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #d9d9d9;
    width: 860px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.infoDiv{
    font-weight: bold;
    margin-top: 3vh;
    font-size: 1.3em;
    width: 620px;
}